 .u-section-1 {
  background-image: url("images/maxresdefault.JPEG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 537px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 32px auto 0 37px;
  padding: 10px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 136px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 100% 50%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 100% 1.27%;
    background-size: auto 135%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 100% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 254px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 719px;
}

.u-section-2 .u-text-1 {
  width: 322px;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 20px 0 60px;
}

.u-section-2 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 309px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-image-1 {
    height: 236px;
  }

  .u-section-2 .u-image-2 {
    height: 236px;
  }

  .u-section-2 .u-image-3 {
    height: 236px;
  }

  .u-section-2 .u-image-4 {
    height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 355px;
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-2 .u-image-1 {
    height: 279px;
  }

  .u-section-2 .u-image-2 {
    height: 279px;
  }

  .u-section-2 .u-image-3 {
    height: 279px;
  }

  .u-section-2 .u-image-4 {
    height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-1 {
    height: 484px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-2 {
    height: 484px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-3 {
    height: 484px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-4 {
    height: 484px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 330px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 330px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 330px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 330px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 797px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 54px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 20px 0 60px;
}

.u-section-3 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 8px 30px;
}

.u-section-3 .u-image-1 {
  height: 298px;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin: 11px 0 -11px;
}

.u-section-3 .u-container-layout-2 {
  padding: 8px 30px;
}

.u-section-3 .u-image-2 {
  height: 298px;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 11px 0 -11px;
}

.u-section-3 .u-container-layout-3 {
  padding: 8px 30px;
}

.u-section-3 .u-image-3 {
  height: 298px;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  margin: 11px 0 -11px;
}

.u-section-3 .u-container-layout-4 {
  padding: 8px 30px;
}

.u-section-3 .u-image-4 {
  height: 298px;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin: 11px 0 -11px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-top: 95px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 309px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-3 .u-image-1 {
    height: 236px;
  }

  .u-section-3 .u-image-2 {
    height: 236px;
  }

  .u-section-3 .u-image-3 {
    height: 236px;
  }

  .u-section-3 .u-image-4 {
    height: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 355px;
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-3 .u-image-1 {
    height: 279px;
  }

  .u-section-3 .u-image-2 {
    height: 279px;
  }

  .u-section-3 .u-image-3 {
    height: 279px;
  }

  .u-section-3 .u-image-4 {
    height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-top: -128px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-3 .u-image-1 {
    height: 484px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-3 .u-image-2 {
    height: 484px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-3 .u-image-3 {
    height: 484px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-3 .u-image-4 {
    height: 484px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-1 {
    margin-top: 1px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 330px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    height: 330px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    height: 330px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-3 .u-image-4 {
    height: 330px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 501px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-4 .u-form-1 {
  width: 570px;
  margin: 29px auto 59px;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
}

.u-section-4 .u-form-group-6 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-form-1 {
    width: 340px;
  }
}